.manin-man{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    .putnction1{
        width: 100%;
        height: 150px;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .btn1{
            width: 130px;
            height: 45px;
            border-radius: 15px;
            border: 1px solid blue;
            cursor: pointer;
            background-color: blue;
            color: white;
        }

        .img1{
            width: 70px;
            height: 70px;
        }

    }
}